#AboutMe{
    font-family: 'Brush Script MT';
    margin-left: 12.5%;
    margin-top: 30px;
    margin-bottom: 60px;
}
#Bio{
    margin: 0px auto;
    padding: 0px;
    border: 0px black solid;
    width: 50%;
    height: 500px;
    float: left;
    background-color: lightgray;

}
#Bio2{
    margin-left: 12.5%;
    line-height: 2.5;
    margin-right: 100px;
}
#PicofMom{
    width: 50%;
    height: 500px;
    float: right;
}